{% extends "base.html" %}
{% load static %}

{% block title %}
Booking Tes
{% endblock title %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<script>
    var outBooking = outLokasi = outJenis = '';
    $.when(
        $.ajax({
            url: "/booking/get-booking/",
            success: function (result) {
                result.forEach(function (datum) {
                    var current = datum.fields;
                    outBooking += `
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">${current.email}</h6>
                            <h5 class="card-title">${current.nama_lengkap}</h5>
                            <p>Tanggal : ${current.tanggal} ${current.jenis}<br>
                                Lokasi :  ${current.jenis}<br>
                                Jenis : ${current.lokasi}
                            </p>
                            <a href="${current.nomor_wa}" class="card-link" target="_blank">Hubungi</a>
                            </div>
                    </div>
                    `

                })
            }
        }),
    ).then(function () {
        document.getElementById('bookingCards').innerHTML = outBooking;
    })


</script>
{% endblock meta %}

{% block content %}
<section class='w-75 m-auto p-4'>
    <div class="d-flex p-2 justify-content-center">
    </div>
    <div class="reserv-wrapper">
        <h1>Riwayat Reservasi Tes COVID-19</h1>
        <input oninput="this.setCustomValidity('')" type="text" name="search" id="search" class="form-control m-5"
            placeholder="Cari Berdasarkan Nama">
        <div class="cards-warpper cards-warpper d-flex align-content-stretch justify-content-center flex-wrap"
            id="bookingCards">
        </div>
    </div>
</section>
<script>
    var bookingData;
    $.ajax({
        url: "/booking/get-booking/",
        success: function (result) {
            bookingData = result;
        }
    })



    $("#search").on("keyup", function () {
        var keyword = document.getElementById("search").value;
        var outBooking = ``;
        bookingData.forEach(function (datum) {
            var current = datum.fields;
            var current_name = current.nama_lengkap.toLowerCase();
            if (current_name.includes(keyword) || keyword == '') {
                outBooking += `
                            <div class="card m-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">${current.email}</h6>
                                    <h5 class="card-title">${current.nama_lengkap}</h5>
                                    <p>Tanggal : ${current.tanggal}<br>
                                        Lokasi :  ${current.lokasi}<br>
                                        Jenis : ${current.jenis}
                                    </p>
                                    </div>
                            </div>
                            `
            }
        })
        document.getElementById('bookingCards').innerHTML = outBooking;
    });

</script>
{% endblock content %}