{% extends "base.html" %}
{% load static %}

{% block title %}
Booking Tes
{% endblock title %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<script>

    var outBooking = outLokasi = outJenis = '';

    $.when(
        $.ajax({
            url: "get-booking",
            success: function (result) {
                result.forEach(function (datum) {
                    var current = datum.fields;
                    if (current.email === "{{request.user.email}}") {
                        outBooking += `
                            <div class="card m-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">${current.email}</h6>
                                    <h5 class="card-title">${current.nama_lengkap}</h5>
                                    <p>Tanggal : ${current.tanggal}<br>
                                        Lokasi :  ${current.lokasi}<br>
                                        Jenis : ${current.jenis}
                                    </p>
                                    </div>
                            </div>
                            `
                    }
                })
            }
        }),

        $.ajax({
            url: "/lokasi/get-lokasi",
            success: function (result) {
                result.forEach(function (datum) {
                    var current = datum.fields;
                    outLokasi += `
                        <option>${current.nama} - ${current.provinsi}</option>
                        `
                })
                console.log(result)
            }
        }),

        $.ajax({
            url: "get-jenis",
            success: function (result) {
                result.forEach(function (datum) {
                    var current = datum.fields;
                    outJenis += `
                        <option>${current.nama}</option>
                        `
                })
            }
        })
    ).then(function () {
        if (outBooking == '') {
            document.getElementById('bookingCards').innerHTML = `
                <p> Kamu belum pernah Booking. Silahkan booking terlebih dahulu</p>
            `;
        } else {
            document.getElementById('bookingCards').innerHTML = outBooking;
        }
        document.getElementById('lokasi').innerHTML = outLokasi;
        document.getElementById('jenis').innerHTML = outJenis;
    })


</script>
{% endblock meta %}

{% block content %}
<section class='w-75 m-auto p-4 py-5'>
    <div id="#modal"></div>
    <div class"form-wrapper">
        <form action="" method="POST" class="needs-validation py-5" novalidate
            onsubmit="return confirm('Reservasi akan dikirimkan, Lanjutkan?');">
            {% csrf_token %}
            <h1 class="py-2">Reservasi Tes COVID-19</h1>
            <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input id="email" type="text" class="form-control" name="email" value="{{ request.user.email }}"
                    readonly required />
                <br />
                <label for="nama_lengkap" class="form-label">Nama Lengkap: </label>
                <input id="nama_lengkap" type="text" class="form-control" name="nama_lengkap"
                    value="{{ request.user.user_profile.full_name }}" required />
                <br />
                <label for="nomor_wa" class="form-label">Nomor Whatsapp: </label>
                <input id="nomor_wa" type="tel" class="form-control" name="nomor_wa"
                    value="{{ request.user.user_profile.phone }}" required />
                <br />
                <label for="lokasi" class="form-label">Lokasi Tes: </label>
                <select id="lokasi" type="text" class="form-control" name="lokasi" value="{{ current_lokasi }}">
                </select>
                <br />
                <label for="tanggal" class="form-label">Tanggal Tes: </label>
                <input id="tanggal" type="date" class="form-control" name="tanggal" value="{{ current_tanggal }}"
                    required />
                <br />
                <label for="jenis" class="form-label">Jenis Tes: </label>
                <select id="jenis" type="text" class="form-control" name="jenis" value="{{ current_jenis }}">
                </select>
                <br />
                <input type="submit" value="Buat Reservasi" class="btn btn-warning btn-lg btn-block" />
            </div>
        </form>
    </div>

    <div class="reserv-wrapper pt-lg-4">
        <h1 class="pt-lg-4 py-2">Riwayat Reservasi Tes COVID-19</h1>
        <div class="cards-warpper d-flex align-content-stretch justify-content-center flex-wrap" id="bookingCards">
        </div>
    </div>
</section>
<script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
</script>
<form onsubmit="return validate(this);">
    {% endblock content %}