{% extends "base.html" %}
{% load static %}

{% block title %}
{{obj.name}}
{% endblock title %}

{% block meta %}
    <script src="{% static 'js/product-list-detail.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product-list.css' %}">
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="pt-3" style="display: flex; justify-content: space-between; width: 100%;" >
        <h2 class="mb-0">Apa yang kami tawarkan</h2>
        <hr>
        <div class="text-center">
            <form id="search-form" class="ml-auto" style=" position: relative;" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="search-input" class="p-1 search" style="width: 16rem;" placeholder="Cari di sini...">
                <div id="results-box" class="results-card not-visible" style="position: absolute; width: 100%; z-index: 50;"></div>
            </form>
        </div>
    </div>
    <hr>
    <h2 class="mt-5 mb-0">{{obj.name}}</h2>
    <h5 class="mb-0">{{obj.description}}</h5>
    <h4 class="mb-0">Rp{{obj.price}}</h4>
    {% if user.is_authenticated %}
        <a href="/booking/" class="mt-2 btn btn-warning d-flex align-content-stretch justify-content-center" style="width: fit-content;">Pesan sekarang</a>
    {% else %}
        <a href="/auth/login" class="mt-2 btn btn-warning d-flex align-content-stretch justify-content-center" style="width: fit-content;">Pesan sekarang</a>
    {% endif %}
</div>
    
{% endblock content%}