{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/product-list.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>{% block title %}{{obj.name}}{% endblock %}</title>
  {% block meta %} <script src="{% static 'js/product-list-detail.js' %}" defer></script> {% endblock meta %}
  <style></style>
</head>

<body>
  {% include "header2.html" %}
  <div class="container">
    <div class="pt-3" style="display: flex; justify-content: space-between; width: 100%;" >
        <h2 class="mb-0">Apa yang kami tawarkan</h2>
        <hr>
        <div class="text-center">
            <form id="search-form" class="ml-auto" style=" position: relative;" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="search-input" class="p-1 search" style="width: 15rem;" placeholder="Cari di sini...">
                <div id="results-box" class="results-card not-visible" style="position: absolute; width: 100%; z-index: 50;"></div>
            </form>
        </div>
    </div>
    <hr>
    <h2 class="mt-5 mb-0">{{obj.name}}</h2>
    <h5 class="mb-0">{{obj.description}}</h5>
    <h4 class="mb-0">Rp{{obj.price|intcomma}}</h4>
    {% if user.is_authenticated %}
        <a href="/booking/" class="mt-2 btn btn-warning d-flex align-content-stretch justify-content-center" style="width: fit-content;">Pesan sekarang</a>
    {% else %}
        <a href="/auth/login" class="mt-2 btn btn-warning d-flex align-content-stretch justify-content-center" style="width: fit-content;">Pesan sekarang</a>
    {% endif %}
</div>

  {% include "footer.html" %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>