{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.js" 
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/forum.css' %}"
  />
  <title>{% block title %}Forum{% endblock %}</title>
  {% block meta %} {% endblock meta %}
  <style></style>
</head>

<body>
  {% include "header2.html" %}
  <main>
    <div class="container">
        <h1 class="forum-title">Forum</h1>
        <hr>
        <form action="" method="POST">
            {% if user.is_authenticated %}
            {% csrf_token %}
            <div class="input-container">
                <div class="textarea-container">
                    <h6>Punya pertanyaan? Tim kami akan membantu menjawab pertanyaan Anda!</h6>
                    <input name="nama" class="textarea nama" placeholder="Tuliskan nama Anda di sini. Kosongkan untuk anonim."/>
                    <textarea name="pertanyaan" class="textarea" placeholder="Tuliskan pertanyaan Anda di sini."></textarea>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Kirim</button>
                </div>
            </div>
            {% else %}
                <h6>Punya pertanyaan? Tim kami akan membantu menjawab pertanyaan Anda!</h6>
                <h6>Silakan login terlebih dahulu!</h6>
                <a type="button" class="btn btn-warning" href="/auth/login">Login</a>
            {% endif %}
        </form>
        <hr>

        <div id="forumWrapper"></div>
    </div>
  </main>
  {% include "footer.html" %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
<script>
    document.getElementById('forumWrapper').innerHTML = "<h5>Sedang memuat forum ....</h5>";
    $(document).ready(function(){
        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "{% url 'getForum' %}",
                success: function(response){
                    document.getElementById('forumWrapper').innerHTML = "";
                    for(let key in response.forum){
                      let temp =                       
                      `        <div class="cards-container">
                                <div class="card border border-primary" style="width: 18rem;">
                                    <div class="card-body">
                                      <p class="card-text">${response.forum[key].pertanyaan}</p>
                                      <h6 class="card-subtitle mb-2 text-muted">-&nbsp${(response.forum[key].nama == "")?"Anonim":response.forum[key].nama}</h6>
                                    </div>
                                </div>
                                <div class="answer-container">
                                    <div class="card card-answer" style="width: 18rem;">
                                        <div class="card-body">
                                          <p class="card-text">${response.forum[key].jawaban}</p>
                                          <h6 class="card-subtitle mb-2 text-muted">-&nbsp${response.forum[key].nama_admin}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    `;
                      document.getElementById('forumWrapper').innerHTML += temp;
                    }
                },
                error: function(response){
                    alert("Error!");
                },
            })
        }, 1000)
    })
</script>

</html>