{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <title>{% block title %}Forum JSON{% endblock %}</title>
  {% block meta %} {% endblock meta %}
  <style></style>
</head>

<body>
  {% include "header.html" %}
  {% include "footer.html" %}
</body>
<script>
</script>

</html>