{% extends "base.html" %}
{% load static %}

{% block title %}
Lokasi Tes
{% endblock title %}

{% block meta %}
<script type='text/javascript'>
    var option = "";
    $.ajax({
            success: function(result) {
                for(let i = 0; i <= 24; i++){
                    if(i <10){
                        var string = "0" + i +".00";
                        option += `<option>${string}</option>`;
                    }
                    else{
                        var string = i + ".00";
                        option += `<option>${string}</option>`;
                    }
                }
                $(".custom-select").html(option);
        }
    });
</script>
{% endblock meta %}
{% block content %}
<section>
    <div style="margin: 2%;">
        <h1>Tambah Lokasi Baru</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <div style="width: 50%; float:left">
                    <div class="form-group">
                        <label for="nama">Nama Lokasi</label>
                        <input id="nama" type="text" name="nama" class="form-control" placeholder="Nama Lokasi" style="width:50%" required>
                    </div>
                    <div class="form-group">
                        <label for="provinsi">Provinsi Lokasi</label>
                        <input id="provinsi" type="text" name="provinsi" class="form-control" placeholder="Nama Provinsi" style="width:50%" required>
                    </div>
                    <div class="form-group">
                        <label for="alamat">Alamat Lokasi</label>
                        <input id="alamat" type="text" name="alamat" class="form-control" placeholder="Alamat" style="width:50%" required>
                    </div>
                </div>
                <div style=" width: 50%; float:right; margin-top:2px;" >
                    <div class="form-group">
                        <label for="jam_buka">Jam Buka</label> <br>
                        <select id="jam_buka" name="jam_buka" class="custom-select" style="width:50%" required></select>
                    </div>
                    <div class="form-group">
                        <label for="jam_tutup">Jam Tutup</label> <br>
                        <select id="jam_tutup" name="jam_tutup" class="custom-select" style="width:50%" required></select>
                    </div>
                    <div class="form-group">
                        <label for="nomor">Nomor Telepon</label>
                        <input id="nomor" type="text" name="nomor" class="form-control" placeholder="Nomor Telepon" style="width:50%" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="background-color: #001D3D; color: white;">Tambah Lokasi</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</section>

{% endblock content %}