<header>
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SlowLab</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/forum">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lokasi">Lokasi Tes COVID-19</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cek-hasil">Cek Hasil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product-list">Product List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booking">Booking</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 16px;">
                            Hallo, {{request.user}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                            <a class="dropdown-item" href="/auth/profile" >Profile</a>
                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                        </li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                        <a type="button" class="btn btn-warning" href="/auth/login">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="justify-content-end"></div>
    </nav>
</header>