<header>
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid"style="margin-left: 19px;">
        <a class="navbar-brand" href="/">SlowLab</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/lokasi">Lokasi Tes COVID-19</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/cek-hasil">Cek Hasil</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/product-list">Product List</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/booking">Booking</a>
                </li>
                <li class="nav-item">
                {% if user.is_authenticated %}
                <!-- Bootstrap 5 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 35px;">
                    Hallo, {{request.user}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/auth/profile" >Profile</a></li>
                    <!-- <li><hr class="dropdown-divider"></li> -->
                    <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                    </ul>
                </li>
    
                <!-- <a type="button" class="btn btn-warning" href="/auth/logout">Logout</a> -->
                {% endif %} {% if not user.is_authenticated %}
                <a type="button" class="btn btn-warning" href="/auth/login">Login</a>
                {% endif %}
                </li>
            </ul>
        </div>    
        </div>
        <div class="justify-content-end"></div>
    </nav>
    </header>
