{% extends "base.html" %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock meta %}

{% block content %}
<div class= "container" style="margin-top: 50px; margin-bottom: 50px;" > 
    <div class= "container-center" style="background-color: rgba(0, 53, 102, 1); padding: 16px;border-radius: 30px;">
        <h1 style="text-align: center; color:white; font-weight: bold;">
            LOGIN
        </h1>
        <form method="POST" action="">
          {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color:white;">Username</label>
              <input name="username" type="username" class="form-control" style="border-radius: 15px;" placeholder="Username" id="username" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" style="color:white;" >Password</label>
              <input name="password" type="password" class="form-control" style="border-radius: 15px;" placeholder="Password" id="password">
            </div>
            <center>
               <button type="submit" class="btn btn-warning" style="width: 100%; border-radius: 15px;">Login</button> 
            </center>
            
          </form>

          {% for message in messages %}
            <br>
            <p id="messages" style="color: white;">{{message}}</p>
          {% endfor %}

          <center>
            <h2 style="margin-top: 20px; text-align: center;font-size: 16px; color:white;">
                Dont have an account?
                <a href="{% url 'register' %}" class="btn btn-warning" style="border-radius: 15px;" >Sign-Up</a>
            </h2>
          </center>
    </div>
</div>
{% endblock content %}
