{% extends "base.html" %}
{% load static %}

{% block title %}
Register
{% endblock title %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock meta %}

{% block content %}

<div class= "container" style="margin-top: 50px; margin-bottom: 50px;" > 
  <div class= "container-center" style="background-color: rgba(0, 53, 102, 1); padding: 16px;border-radius: 30px;">
        <h1 style="text-align: center; color:white; font-weight: bold;">
            REGISTER
        </h1>
        <form method="POST" action=''>
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color:white;">Username</label>
              <input name="username" type="username" class="form-control" style="border-radius: 15px;" placeholder="Username" id="username" onchange="uname_verif()">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color:white;">Email</label>
              <input id="email" type="email" class="form-control" name="email" style="border-radius: 15px; " placeholder="Email" onchange="email_verif()"/>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color:white;">Password</label>
              {{ form.password1 }}
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color:white;">Confirm Password</label>
              {{ form.password2 }}
            </div>
            <center>
              {% for message in messages %}
              <p id="messages" style="color: white;">{{message}}</p>
              {% endfor %}
            </center>

            <center>
               <button type="submit" class="btn btn-warning" style="width: 100%; border-radius: 15px;">Sign-Up</button> 
            </center>
        
          </form>

          <center>
            <h2 style="margin-top: 20px; text-align: center;font-size: 16px; color:white;">
                Already have an account?
                <a href="{% url 'login' %}" class="btn btn-warning" style="border-radius: 15px;" >Login</a>
            </h2>
          </center>
          
    </div>
</div>

<script>
  function uname_verif(){
    const username=document.getElementById('username')
    fetch('/auth/ajax/uname_verif?username='+ username.value)
      .then((res)=>res.json())
      .then((item)=>{
        if (item.user){
          username.style.outline = 'green solid 4px'
        }else{
          username.style.outline = 'red solid 4px'
        }
      })
  }
  function email_verif(){
    const email=document.getElementById('email')
    fetch('/auth/ajax/email_verif?email='+ email.value)
      .then((res)=>res.json())
      .then((item)=>{
        if (item.email){
          email.style.outline = 'green solid 4px'
        }else{
          email.style.outline = 'red solid 4px'
        }
      })
  }
</script>

{% endblock content %}


