{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <style>
        .profile{
        width: 150px;
        height: 150px;
        padding: 10px;
        background-color: #ffc107;
        border-radius: 100px;
        margin-bottom: 16px;
        margin-right: 16px;
    }
    .user_detail{
        color: white;
    }
    </style>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>{% block title %}SlowLab{% endblock %}</title>
  {% block meta %} {% endblock meta %}
  <style></style>
</head>

<body>
  {% include "header2.html" %}
  <main>
    <div class= "container" style="margin-top: 50px; margin-bottom: 50px;" > 
        <div class= "container-center" style="background-color: rgba(0, 53, 102, 1); padding: 16px ;border-radius: 30px;">
            <div class="row align-items-start" style="padding: 16px;">
                <div class="user_detail">
                    <h2> 
                        Edit User Profile <br>
                    </h2>
                    <form method="POST" action="" class="needs-validation" novalidate >
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label" for="full_name" class="form-label" style="color:white;">Full Name</label>
                            <div class="col-sm-10">
                                <input id="full_name" name="full_name" type="full_name" class="form-control" style="border-radius: 15px;" value="{{ request.user.user_profile.full_name }}" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label" for="BOD" class="form-label" style="color:white;">BOD</label>
                            <div class="col-sm-10">
                                <input id="BOD" name="BOD" type="date" class="form-control" style="border-radius: 15px; " value="{{ request.user.user_profile.BOD }}" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label" for="phone" class="form-label" style="color:white;">Phone</label>
                            <div class="col-sm-10">
                                <input id="phone" name="phone" type="number" class="form-control" style="border-radius: 15px; " value="{{ request.user.user_profile.phone }}" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label" for="province" class="form-label" style="color:white;">Province</label>
                            <div class="col-sm-10">
                                {{ form.province }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label" for="address" class="form-label" style="color:white;">address</label>
                            <div class="col-sm-10">
                                <input id="address" name="address" type="text" class="form-control" style="border-radius: 15px; " value="{{ request.user.user_profile.address }}" required>
                            </div>
                        </div>
                                
                        <button type="submit" class="btn btn-warning" style="border-radius: 15px; margin-top: 10px; width: 150px;">Save</button> 
                                
                    </form>
                </div>
            </div>    
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
        })
    })()
    </script>
  </main>
  {% include "footer.html" %}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>

